

<div class="grid">
  <h1>Home</h1>

  <p>Willkommen auf unserer Webcam Webseite</p>
</div>

  <div class="parallax"></div>

  <div class="beschreibung" style="height:800px;">

    <p> Wir haben im Fach TP einen Arbeitsauftrag aufbekommen uns öffentliche APIs genauer anzuschauen und im Team ein kleineres Projekt zu entwickeln. Dabei haben wir versucht die bisher erlernten Konzepte, zB. Architekturmuster umzusetzen.
        Wir haben uns zudem auf schon vorhandenen Projekten auf <a href="https://webcomponents.opendatahub.bz.it/"> webcomponents.opendatahub.bz.it </a>inspirieren lassen. <br>
         Wenn Sie auf unserer Webseite im Bereich "Webcams" navigieren, sehen Sie
        eine Sateliten-Karte. Dort können Sie viele verschiedene Webcam Stationen Südtirols finden und deren Live Bilder bewundern. <br>
        Auf der "About Us" seite hingegen können Sie einige Informationen über uns "Entwickler" finden und erfahren wer wir eigentlich sind.
    </p>

  </div>


