
<!-- <div style="background-color: rgba(99, 163, 189, 0.24)"> -->
  <h1>About Us</h1>

  <div class="vorstellung">

      <p>Wir sind drei Schüler aus der TFO Bozen und besuchen die 5. Klasse mit Schwerpunkt Informatik </p>

  </div>



      <div class="person">

        <div class="name">

          <h2> Franzelin Daniel</h2>

        </div>

          <div class="text">

            <p>Hallo ich heiße Daniel Franzelin, komme aus Auer und bin 18 Jahre alt.</p>

          </div>

          <div class="bild">

            <img src="/assets/Daniel.jpg" alt="Daniel Franzelin">

          </div>

      </div>


      <div class="person">

        <div class="name">

          <h2> Alex Meraner</h2>

        </div>

          <div class="text">

            <p>Hallo ich heiße Alex, komme aus Eppan und bin 18 Jahre alt.</p>

          </div>

          <div class="bild">

            <img src="/assets/Alex.JPG" alt="AlexMeraner">

          </div>

      </div>



      <div class="person">

        <div class="name">

          <h2> Muraro Mirko</h2>

        </div>

          <div class="text">

            <p>Hallo ich heiße Mirko, komme aus Lana und bin 18 Jahre alt.</p>

          </div>

          <div class="bild">

            <img src="/assets/Mirko.jpeg" alt="Daniel Franzelin">

          </div>



      </div>

<!-- </div> -->

